<h1><%= @user.name %></h1>

<% if @user.has_contact_info? %>
<dl>
  <% if @user.has_email? %>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <% end %>
  <% if @user.has_phone? %>
  <dt>Phone</dt>
  <dd><%= @user.phone %></dd>
  <% end %>
</dl>
<% end %>

<% if @user.has_teams? %>
<h2>Team Memberships</h2>
<ul>
<% @user.teams.each do |team| %>
  <li><%= team.name %></li>
<% end %>
</ul>
<% end %>

<p><%= link_to 'Edit', edit_admin_user_path(@user) %> | <%= link_to 'Directory', admin_users_path %> | <%= link_to 'Admin', admin_path %></p>
