<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Directory', users_path %></p>
