<table>
  <tr>
    <th>Donor</th>
    <th>Referrer</th>
    <th>Currency</th>
    <th>Value</th>
    <th colspan="2"></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.donor.name %></td>
    <td><%= donation.referrer.name %></td>
    <td><%= donation.currency %></td>
    <td><%= donation.value %></td>
    <td><%= link_to 'Show', admin_donation_path(donation) %></td>
    <td><%= link_to 'Edit', edit_admin_donation_path(donation) %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New', new_admin_donation_path %> | <%= link_to 'Admin', admin_path %></p>