<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Target:</strong>
  <%= @challenge.target %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @challenge.currency %>
</p>

<p>
  <strong>Current:</strong>
  <%= @challenge.current %>
</p>

<p>
  <strong>Target Date:</strong>
  <%= @challenge.target_date %>
</p>

<p><%= link_to 'Edit', edit_admin_challenge_path(@challenge) %> | <%= link_to 'Directory', admin_challenges_path %> | <%= link_to 'Admin', admin_path %></p>
