<table>
  <tr>
    <th>Value</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>

<% @incentives.each do |incentive| %>
  <tr>
    <td><%= incentive.value %></td>
    <td><%= incentive.description %></td>
    <td><%= link_to 'Show', incentive_path(incentive) %></td>
    <td><%= link_to 'Edit', edit_incentive_path(incentive) %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New', new_incentive_path %> | <%= link_to 'Admin', admin_path %></p>