<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Target</th>
    <th>Currency</th>
    <th>Current</th>
    <th>Target Date</th>
    <th colspan="2"></th>
  </tr>

<% @challenges.each do |challenge| %>
  <tr>
    <td><%= challenge.name %></td>
    <td><%= challenge.description %></td>
    <td><%= challenge.target %></td>
    <td><%= challenge.currency %></td>
    <td><%= challenge.current %></td>
    <td><%= challenge.target_date %></td>
    <td><%= link_to 'Show', challenge_path(challenge) %></td>
    <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New', new_challenge_path %> | <%= link_to 'Admin', admin_path %></p>