<%= form_for @donation do |f| %>
  <% if @donation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>
    <ul>
    <% @donation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </p>

  <p>
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', donations_path %> | <%= link_to 'Admin', admin_path %></p>