<div class="centered">
  <%= image_tag "social-btns.jpg" -%>
  <div class="circle pad_photo"></div>
  <h5><%= @user.name -%>'s raised <br /><strong>
      $<%= @user.total_referrals.floor -%>
    </strong> of the <strong>
      $<%= @challenge.target.floor -%>
  </strong> goal</h5>
</div>

<h2>Enter an amount *</h2>
<%= form_tag("/donations") do %>
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" id="donation_amount" style="width: 100px;" name="amount" class="form-control" placeholder="amount" pattern="\d*">
  </div>
  <div class='centered'><h6><em>All donations are tax deductable</em></h6></div>
  <br />
  <ul class="nav nav-tabs">
    <li><a href="#">Paypal</a></li>
    <li class="active"><a href="#">Credit Card</a></li>
    <li><a href="#">Check</a></li>
  </ul>
  <fieldset>
    <%= image_tag "credit-card-icons.jpg", :style => 'margin: 0.5em 0' -%>

    <!-- Name -->
    <div class="control-group">
      <label class="control-label"  for="username">Card Holder's Name</label>
      <div class="controls">
        <input type="text" id="cardholder" name="cardholder" class="form-control" placeholder="Name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="email">Email</label>
      <div class="controls">
        <input type="text" id="email" name="email" class="form-control" placeholder="Name">
      </div>
    </div>

    <!-- Card Number -->
    <div class="control-group">
      <label class="control-label" for="email">Card Number</label>
      <div class="controls">
        <input type="text" id="email" name="email" class="form-control" placeholder="" class="input-xlarge">
      </div>
    </div>

    <!-- Expiry-->
    <div class="control-group">
      <label class="control-label" for="password">Card Expiry Date</label>
      <div class="controls row">
        <div class="col-xs-7">
          <select name="expiry_month" class="form-control" id="expiry_month" style=''>
            <option></option>
            <option value="01">Jan (01)</option>
            <option value="02">Feb (02)</option>
            <option value="03">Mar (03)</option>
            <option value="04">Apr (04)</option>
            <option value="05">May (05)</option>
            <option value="06">June (06)</option>
            <option value="07">July (07)</option>
            <option value="08">Aug (08)</option>
            <option value="09">Sep (09)</option>
            <option value="10">Oct (10)</option>1
            <option value="11">Nov (11)</option>
            <option value="12">Dec (12)</option>
          </select>
        </div>
        <div class="col-xs-5">
          <select class="form-control" name="expiry_year">
            <option value="13">2013</option>
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
            <option value="20">2020</option>
            <option value="21">2021</option>
            <option value="22">2022</option>
            <option value="23">2023</option>
          </select>
        </div>
      </div>
    </div>

    <!-- CVV -->
    <div class="control-group">
      <label class="control-label"  for="password_confirm">Card CVV</label>
      <div class="controls">
        <input type="password" id="password_confirm" class="form-control" name="password_confirm" placeholder="">
      </div>
    </div>

    <br />
    <!-- Submit -->
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success">Pay Now</button>
      </div>
    </div>

  </fieldset>
<%end-%>

