<!DOCTYPE html>
<html>
<head>
  <title>#TOT4UNICEF</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <%= yield :head %>
</head>
<body>
  <div class='header centered'>
    <%= image_tag "unicef-logo-small.jpg" %>
  </div>

  <div class='container'>
    <%= yield %>
  </div>
  <div class='footer'>
    &copy; United States Fund for UNICEF. All right reservered.
    <br />(800) 367-5437 &nbsp;&nbsp; 125 Maiden Lane, NY, NY 10038
  </div>
</body>
</html>
