<h1>Admin</h1>
<ul>
  <li><%= link_to 'Challenges', admin_challenges_path %></li>
  <li><%= link_to 'Donations', admin_donations_path %></li>
  <li><%= link_to 'Incentives', admin_incentives_path %></li>
  <li><%= link_to 'Teams', admin_teams_path %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
</ul>