<h1>Admin</h1>
<ul>
  <li><%= link_to 'Challenges', challenges_path %></li>
  <li><%= link_to 'Donations', donations_path %></li>
  <li><%= link_to 'Incentives', incentives_path %></li>
  <li><%= link_to 'Teams', teams_path %></li>
  <li><%= link_to 'Users', users_path %></li>
</ul>